.product-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin-top: 150px;
}

.image-section {
  flex: 1 1 400px;
  position: relative;
}

.main-image-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  overflow: hidden;
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border 0.2s;
}

.thumbnail.selected {
  border-color: #0078d7;
}

.stock-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #28a745; /* green for in stock */
}

.stock-badge.out-of-stock {
  background-color: #dc3545; /* red */
}

.info-section {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;

}

.product-brand,
.product-category,
.product-release {
  font-size: 1rem;
  color: #555;
  margin: 2px;
}

.product-price {
  display: flex;
  justify-content: right;
  color: #e60023;
  font-size: 1.5rem;
  font-weight: bold;
}

.description h3 {
  margin: 10px 0 5px 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.buy-button {
  padding: 12px 24px;
  background-color: #0078d7;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.buy-button:hover:enabled {
  background-color: #005fa3;
}

.buy-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

/* Responsive layout */
@media(max-width: 900px) {
  .product-details-container {
    flex-direction: column;
    align-items: center;
  }
  .main-image-wrapper {
    height: 400px;
  }
}